DB_NAME=mona_souvenir
DB_USER_NAME=postgres
DB_USER_PASSWORD=postgres

DB_PORT=5432
APP_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@db:5432/mona_souvenir

BETTER_AUTH_SECRET=super-secret
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=http://localhost:3000

LOUVRE_API_URL=https://collections.louvre.fr/api/search